<!DOCTYPE html>
<html>
  <head>
  	<title><%= title %></title>
  	<%= csrf_meta_tag %>
  	<%= stylesheet_link_tag "application" %>
  </head>
  <body>
	  <div id='header' >
			<!-- moved to login partial -->
		</div>
		<p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
		<%= yield %>
		<div id='footer'>
			&#169; Michael Ferrell 2013
		</div>
	</body>
</html>
