<!DOCTYPE html>
<html>
  <head>
  	<title><%= title %></title>
  	<%= csrf_meta_tag %>
  	<%= stylesheet_link_tag "application" %>
  </head>
  <body>
	  <div id='header' >
			<p>
				<% if user_signed_in? %>
					Welcome, 
					<%= :user %>.
				<% else %>
					<%= form_for '/application/login', :method => 'get' do %>
						<p> 
							username
							<%= text_field_tag :username, params[:username] %>
							password				
							<%= text_field_tag :password, params[:password] %>
			    		<%= submit_tag "Log In", :name => nil , :class => 'button' %>
		    		</p>
		    	<% end %>
				<% end %>
			</p>
		</div>
		<p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
		<%= yield %>
		<div id='footer'>
			&#169; Michael Ferrell 2013
		</div>
	</body>
</html>
